<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Eventus - client</h1>

<div th:each="e : ${events}">
    <div th:text="${e.id} + ': ' + ${e.name}"></div>
    <div th:text="${#dates.format(e.startDate, 'yyyy-MM-dd HH-mm')}"></div>

</div>

</body>
</html>